.hero_form input[type="text"]:focus {
    outline: none;
}

.hero_form input[type="text"]::placeholder,
.hero_form input[type="text"]:placeholder-shown {
    color: #737791;
}

.hero_form {
    background-image: url(/home/location.svg);
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.hero_container {
    background-repeat: no-repeat;
    background-image: url(/home/dot.svg);
    background-position: 96% 95%;
}



.trusted_companies img {
    @apply m-4;
}

@media(min-width: 640px) {
    .hero_form {
        background-position: 4.5% 50%;
    }


}

@media (min-width: 1280px) {

    .hero_container>div:nth-of-type(2)::after {
        content: " ";
        width: 88px;
        height: 33.57px;
        background: url(/home/swirl.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 35%;
        margin: -35px;
        display: block;
    }
}